@model AddMemberForm

<div id="add-member-modal" class="modal-container">
	<div class="content-modal">
		<div class="header-modal">
			<h3> New Member</h3>
			<button class="btn-close" type="button" data-close="true"></button>

		</div>
		<form novalidate asp-action="Add" method="post" asp-controller="Members" class="modal-form">

            <div class="image-previewer circle">
                <img src="" class="image-preview" />
                <input asp-for="MemberImage" accept="image/*" class="hide" />
            </div>

			<div class="name-container">

                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="FirstName" class="form-control text-input">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="LastName" class="form-control text-input">
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>

			</div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Email" class="form-control text-input">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Phone" class="form-control text-input">
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="JobTitle" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" class="form-control text-input">
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="JobTitle" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" class="form-control text-input">
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Address" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Address" class="form-control text-input">
                    <span asp-validation-for="Address"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="DateOfBirth" class="form-control type="date">
                    <span asp-validation-for="DateOfBirth"></span>
                </div>
            </div>

			<button class="btn-base btn-blue btn-submit" type="submit">Add Member</button>
		</form>
	</div>
</div>