@model EditMemberViewModel

@{
    var roleResult = await roleService.GetAllRolessAsync();
    var roles = roleResult.Data;
}

<div id="edit-member-modal" class="_modal">
    <div class="_modal-content">
        <div class="_modal-header">
			<h3>Edit Member</h3>
			<button class="_btn-close" type="button" data-close="true"></button>


		</div>
		<form novalidate asp-action="Edit" method="post" asp-controller="Members" class="modal-form">

            <input type="hidden" asp-for="Id" id="edit-member-id" />


            <div class="image-previewer circle">
                <img src="" class="image-preview" />
                <input asp-for="MemberImage" accept="image/*" class="hide" />
            </div>

            <div class="_field-container">

                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="FirstName" class="form-control text-input">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="LastName" class="form-control text-input">
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>

            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Email" class="form-control text-input">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="PhoneNumber" class="form-control text-input">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="JobTitle" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" class="form-control text-input">
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="RoleName" class="form-label"></label>
                <div class="field-group">
                    <select asp-for="RoleName" class="form-control">
                        <option selected disabled hidden>---- Select account role ----</option>
                        @foreach (var role in roles ?? [])
                        {
                            <option value="@role.Name">@role.Name</option>
                        }
                    </select>
                    <span asp-validation-for="RoleName"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="StreetName" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="StreetName" class="form-control text-input">
                    <span asp-validation-for="StreetName"></span>
                </div>
            </div>


            <div class="_field-container">
                <div class="mb-3">
                    <label asp-for="City" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="City" class="form-control text-input">
                        <span asp-validation-for="City"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="PostalCode" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="PostalCode" class="form-control text-input">
                        <span asp-validation-for="PostalCode"></span>
                    </div>
                </div>


            </div>


            <div class="mb-3">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="DateOfBirth" class="form-control" type="date" value="1990-01-01">
                    <span asp-validation-for="DateOfBirth"></span>
                </div>
            </div>
			<button class="btn-base btn-blue btn-submit" type="submit">Save</button>
		</form>
	</div>
</div>