.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    width: 300px;
}

._btn-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.msg-btn {
    background-color: var(--external-sign-btn);
    width: 100%;
}

.member-image {
}

.member-name{

}

.job-title {

}

    .job-title >.job-title-text {
    }

.member-email {

}

.member-phone {

}

.Member-members{

}