.btn-group > button {
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    border-radius: 12px;
    width: 40px;
    height: 40px;
}

    .btn-group > button.show {
        background-color: var(--auth-background);
    }

.btn-group > .dropdown-toggle::after {
    content: none;
}

ul.dropdown-menu.dropdown-menu-end.show {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    border-radius: 12px;
    border: none;
    background-color: var(--bright-background);
}

ul > li > button {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 12px;
}

    ul > li > button > i {
        font-size: .8rem;
    }

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .4rem 0;
    width: 100%;
}

    .divider > hr {
        flex: 1;
        border: none;
        border-top: 1px solid var(--border);
        margin: 0 10px;
    }

/*._delete-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 12px;
    background-color: greenyellow;
}

    ._delete-btn > .delete {
        color: var(--red);
        margin: 0;
    }

    ._delete-btn:hover {
        background-color: var(--error-background-color);
    }

    ._delete-btn > i {
        margin: 0;
        font-size: .8rem;
    }
*/