@model Client

<div class="btn-group">
    <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @await Html.PartialAsync("Partials/Components/_EditButtonDots")
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <button class="dropdown-item edit-client-btn" type="button" data-modal="true" data-target="#edit-client-modal" data-client-id="@Model.Id">
                <i class="fa-solid fa-pen"></i>
                <span>Edit</span>
            </button>
        </li>
        <li class="divider">
            <hr />
        </li>
        <li>
            <a asp-controller="Clients" asp-action="Delete" asp-route-id="@Model.Id" class="dropdown-item _delete-btn">
                <i class="fa-solid fa-trash delete"></i>
                <span class="delete">Delete Client</span>
            </a>
        </li>
    </ul>
</div>