<div id="add-project-modal" class="modal-container">
	<div class="content-modal">
		<div class="header-modal">
			<h3> Add Project</h3>
			<button class="btn-close" type="button" data-close="true">
				<i class="fa-solid fa-xmark"></i>
			</button>


		</div>
		<form novalidate asp-action="AddProject" method="post" asp-controller="Projects">
			<p>Here i am</p>
		</form>
	</div>
</div>