@model AddProjectViewModel

<div id="add-project-modal" class="modal-container">
	<div class="content-modal">
		<div class="header-modal">
			<h3> Add Project</h3>
			<button class="btn-close" type="button" data-close="true"></button>


		</div>
		<form novalidate asp-action="AddProject" method="post" asp-controller="Projects" class="modal-form">
			<div class="image-previewer circle">
				<img src="" class="image-preview" />
				<input asp-for="ProjectImage" accept="image/*" class="hide"/>
			</div>
			
			<button class="btn-base btn-blue btn-submit" type="submit">Create</button>
		</form>
	</div>
</div>