<div id="add-project-modal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<h3> Add Project</h3>
			<button class="btn-close" data-modal="true" data-target="#add-project-modal" data-close="true">
				<i class="fa-solid fa-xmark"></i>
			</button>


		</div>
		<form novalidate asp-action="AddProject" method="post" asp-controller="Projects">
			
		</form>
	</div>
</div>