@model AddProjectViewModel

@{
    var defaultStartDate = DateTime.Today.ToString("yyyy-MM-dd");
    var defaultEndDate = DateTime.Today.AddDays(30).ToString("yyyy-MM-dd");
}

<div id="add-project-modal" class="_modal">
    <div class="_modal-content">
        <div class="_modal-header">
			<h3> Add Project</h3>
			<button class="_btn-close" type="button" data-close="true"></button>


		</div>

		<form novalidate asp-action="AddProject" method="post" asp-controller="Projects" class="modal-form">

			<div class="image-previewer circle">
				<img src="" class="image-preview" />
				<input asp-for="ProjectImage" accept="image/*" class="hide"/>
			</div>

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Title" class="form-control text-input">
                    <span asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="ClientId" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="ClientId" class="form-control text-input">
                    <span asp-validation-for="ClientId"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Description" class="form-control text-input" >
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="StartDate" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="StartDate" value="@defaultStartDate" class="form-control date-input start-date" type="date">
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="EndDate" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="EndDate" value="@defaultEndDate" class="form-control date-input end-date" type="date">
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>

            <div class="mb-3">
                @* <label asp-for="StatusId" class="form-label"></label> *@
                @* <div class="field-group"> *@
                @*     <select asp-for="StatusId" asp-items="Model.StatusList" class="form-control"> *@
                @*         <option value="">--Select a status--</option> *@
                @*         <option value="1">@Model.</option> *@
                @*     </select> *@
                @*     <span asp-validation-for="StatusId"></span> *@
                @* </div> *@
            </div>
			
			<button class="btn-base btn-blue btn-submit" type="submit">Create</button>
		</form>

	</div>
</div>