<div class="btn-group">
    <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @await Html.PartialAsync("Partials/Components/_EditButtonDots")
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <button class="dropdown-item" type="button">
                <i class="fa-solid fa-pen"></i>
                <span>Edit</span>
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="button">
                <i class="fa-solid fa-user-plus"></i>
                <span>Add Member</span>
            </button>
        </li>
        <li class="divider">
            <hr/>
        </li>
        <li>
            @* asp-controller="Projects" asp-action="Delete" asp-route-id="@Model.Id" *@
            <a class="dropdown-item _delete-btn">
                <i class="fa-solid fa-trash delete"></i>
                <span class="delete">Delete Project</span>
            </a>
        </li>
    </ul>
</div>