<div class="card-container">
	<div class="project-image">
		@* Dynamic Project Image here *@
	</div>
	<h2 class="project-name">Project Name</h2>
	<h3 class="project-client">Client Name</h3>
	@await Html.PartialAsync("Partials/_EditButtonDots")
	<p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
	<div class="time-left">
		<i class="fa-regular fa-clock"></i>
		<p>dynamic time</p>
		<p>left</p>
	</div>
	<div class="project-members">
		@* Dynamic avatar images here *@
		<i class="fa-solid fa-user-tie"></i>
	</div>
</div>