.project-card {
    display: grid;
    grid-template-areas:
        "image title-client dots-btn"
        "description description description"
        "deadline-members deadline-members deadline-members";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--card-background);
    min-width: 350px;
    max-width: 350px;
    min-height: 276px;
    max-height: 276px;
    box-sizing: border-box;
}

.project-image{
    grid-area: image;
}

.title-client {
    grid-area: title-client;
    display: flex;
    flex-direction: column;
}

.project-title {
    display: flex;
    color: var(--headline);
    font-size: 1.1rem;
    overflow: hidden;
}
.project-client {
    display: flex;
    color: var(--grey-text);
    font-size: .9rem;
    overflow: hidden;
}

.project-description {
    grid-area: description;
    overflow: hidden;
}

.deadline-members {
    grid-area: deadline-members;
    display: flex;
    justify-content: space-between;
}

.deadline {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .5rem .8rem;
    border-radius: 12px;
    background-color: var(--deadline-bg);
}
    .deadline > i {
        color: var(--headline);
    }
    .deadline > span {
        margin: 0;
        color: var(--headline);
    }


.deadline.near {
    background-color: var(--error-background-color);
}
    .deadline.near > i {
        color: var(--error-text-color);
    }
    .deadline.near > span {
        color: var(--error-text-color);
    }

    .project-members {
        display: flex;
        align-items: center;
        overflow: hidden;
    }