<div class="dark-mode-toggle">
    <input type="checkbox" id="dark-mode" class="toggle-checkbox" onchange="handleToggleChange()" />
    <label for="dark-mode" class="toggle-label" aria-label="Dark mode toggle button"></label>
</div>
