
.dark-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: .7rem 1rem;

}

.cog-span {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 36px;
}

    .cog-span > span {
        display: flex;
        align-items: center;
        min-width: 90px;
        color: var(--headline);
    }




.dark-mode-toggle {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0;
    margin-left: auto;
    width: 100%;

}

.toggle-checkbox {
    display: none;
}

.toggle-label { 
    position: relative;
    width: 42px;
    height: 24px;
    background-color: lightgray;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}

    .toggle-label::after { 
        content: "";
        position: absolute;
        top: 4px;
        left: 3px;
        width: 16px;
        height: 16px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

.toggle-checkbox:checked + .toggle-label {
    background-color: var(--blue-accent);
}

    .toggle-checkbox:checked + .toggle-label::after {
        transform: translateX(20px);
    }
