@{
    // Default id for settings or when no context is provided
    string toggleId = "dark-mode";

    // Change the id if the ViewData key "ToggleContext" indicates the hamburger menu context
    if (ViewData["ToggleContext"]?.ToString() == "HamburgerMenu")
    {
        toggleId = "hamburger-dark-mode";
    }
}

<div class="dark-mode-container">
    <div class="cog-span">
        @await Html.PartialAsync("Partials/Navbar/_Cogwheel")
        <span>Dark Mode</span>
    </div>
    <div class="dark-mode-toggle">
        <input type="checkbox" id="@toggleId" class="toggle-checkbox" onchange="handleToggleChange()" />
        <label for="@toggleId" class="toggle-label" aria-label="Dark mode toggle button"></label>
    </div>
</div>
@* <div class="dark-mode-container"> *@
@*     <div class="cog-span"> *@
@*         @await Html.PartialAsync("Partials/Navbar/_Cogwheel") *@
@*         <span>Dark Mode</span> *@
@*     </div> *@
@*     <div class="dark-mode-toggle"> *@
@*         <input type="checkbox" id="dark-mode" class="toggle-checkbox" onchange="handleToggleChange()" /> *@
@*         <label for="dark-mode" class="toggle-label" aria-label="Dark mode toggle button"></label> *@
@*     </div> *@
    
@* </div> *@