.hamburger-navbar {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 3rem;
    width: 100%;
}

#hamburgerBtn {
    background: none;
    border: none;
    color: var(--text);
    font-size: 1.7em;
    cursor: pointer;
}

.expandable-menu {
    display: grid;
    grid-template-areas: "left" "right";
    grid-template-columns: 1fr 1fr;
    padding: 1rem 1rem 0rem 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

    .expandable-menu.active {
        max-height: 300px; 
    }


    .expandable-menu > .page-navigation {
        grid-area: left;
        display: flex;
        flex-direction: column;
    }

    .expandable-menu > .search-account-nav {
        justify-self: end;
    }

.notification-center{
    display: flex;
    align-items: center;
}
/*Computer*/
@media (min-width: 1340px) {
    .hamburger-navbar {
        display: none;
    } 
    .expandable-menu {
        display: none;
    }
}
