@{
    ViewData["ToggleContext"] = "HamburgerMenu";
}

<nav class="hamburger-navbar">
    <button id="hamburgerBtn">
        <i class="fa-solid fa-bars"></i>
    </button>
</nav>
<div class="expandable-menu" id="menu">
    <nav class="page-navigation">
        @await Html.PartialAsync("Partials/Sidebar/_SidebarPartial")
    </nav>
    <nav class="search-account-nav">
        @await Html.PartialAsync("Partials/Navbar/_UserInformation")
        @await Html.PartialAsync("Partials/Navbar/_LogOutButton")
        @await Html.PartialAsync("Partials/Navbar/_DarkModeToggle")
        <div class="notification-center hamburger-notifications">
            <span>Notifications</span>
            @await Html.PartialAsync("Partials/Navbar/_NotificationBell", new { id = "hamburger-notification-bell" })
        </div>
    </nav>
</div>