
a.log-out {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    padding: .7rem 1rem;
}

    a.log-out > i {
        color: var(--icon-color);
        font-size: 1.1rem;
    }

    a.log-out > span {
        color: var(--headline);
    }


a:active {
    background-color: var(--blue-accent-opacity)
}

a:hover > i, a:hover > span {
    color: var(--blue-accent);
}