
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.account-group {
    display: flex;
    align-items: center;
}

.notification-bell {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

    .notification-bell > i {
        color: var(--bell-color);
        font-size: 1.1rem;
    }


.settings {
    display: flex;
    align-items: center;
    margin: 0 8px;
    color: grey;
}


.separator {
    display: inline-block;
    width: 1px;
    height: 24px;
    margin: 0 .5rem;
    background-color: var(--border);
}

.avatar-image {
    margin: 0 8px;
}