<nav>
	<div class="search">
		@* TODO make a working search *@
		<i class="fa-solid fa-magnifying-glass"></i>
		<input type="text" placeholder="Search anything.."/>
	</div>
	<div class="account-group">
		<div class="notification-bell">
			<i class="fa-solid fa-bell"></i>
		</div>
		<div class="settings">
			<i class="fa-solid fa-gear"></i>
		</div>
		<span class="separator"></span>
		<div class="avatar-image">
			@* TO DO *@
			@* Temporary i, change to dynamic avatar based on the user that is logged in *@
			<i class="fa-solid fa-user-tie"></i>
		</div>
	</div>
</nav>
