<div class="search">
	@* TODO make a working search *@
	<i class="fa-solid fa-magnifying-glass"></i>
	<input type="text" placeholder="Search anything.."/>
</div>
<div class="account-group">
	@* VID notification >>> class = notification-active PÅ Button*@
	<button class="notification-bell">
		<i class="fa-solid fa-bell bell">
			<i class="fa-solid fa-circle notification-circle"></i>
		</i>
	</button>
	<div class="settings">
		@await Html.PartialAsync("Partials/Navbar/_SettingsPartial")
	</div>
	<span class="separator"></span>
	<div class="avatar-image">
		@* TO DO *@
		@* Temporary, change to dynamic avatar based on the user that is logged in *@
		<img src="@Url.Content("~/Images/tinyAvatar.svg")" alt="My Image" />
	</div>
</div>