@{
	var userImg = User.FindFirstValue("ImageUri") ?? "https://aspnetassignment.blob.core.windows.net/images/1d0e95a8-e947-4877-8857-c15de4e55a87.svg";
}

<div class="search-container">
	<input type="text" id="search-input" class="search-input" placeholder="Search anything.." />
</div>

<div class="account-group">
	@await Html.PartialAsync("Partials/Navbar/_NotificationBell")

	<div class="settings">
		@await Html.PartialAsync("Partials/Navbar/_SettingsPartial")
	</div>
	<span class="separator"></span>
	<div class="avatar-image">
		<img src="@userImg" alt="User-Avatar Image" />
	</div>
</div>