@{
	var userImg = User.FindFirstValue("ImageUri") ?? "https://aspnetassignment.blob.core.windows.net/images/1d0e95a8-e947-4877-8857-c15de4e55a87.svg";
}

<div id="tagging" class="search">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div id="tags" class="form-input form-tag-select">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="tag-search" class="form-tag-input" placeholder="Search anything.." />
                    <label for="tag-search" class="fa-solid fa-ellipsis"></label>
                    <div id="tag-search-results" class="search-results"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="account-group">
	@await Html.PartialAsync("Partials/Navbar/_NotificationBell")

	<div class="settings">
		@await Html.PartialAsync("Partials/Navbar/_SettingsPartial")
	</div>
	<span class="separator"></span>
	<div class="avatar-image">
		<img src="@userImg" alt="User-Avatar Image" />
	</div>
</div>