.account-group {
    display: flex;
    align-items: center;
}



.settings {
    display: flex;
    align-items: center;
    margin: 0 8px;
    color: grey;
}


.separator {
    display: inline-block;
    width: 1px;
    height: 24px;
    margin: 0 .5rem;
    background-color: var(--border);
}

.avatar-image {
    display: flex;
    max-height: 40px;
    max-width: 40px;
    margin: 0 8px;
    justify-content: center;
    align-items: center;
}

    .avatar-image > img {
        height: 40px;
        width: 40px;
    }

/*Computer*/
@media (min-width: 1340px) {




}