
.notification-bell {
    display: flex;
    border: none;
    align-items: center;
    margin: 0 8px;
    background-color: transparent;
}

    .notification-bell > .bell {
        position: relative;
        color: var(--bell-color);
        font-size: 1.1rem;
    }

        .notification-bell > .bell > .notification-circle {
            display: none;
            position: absolute;
            color: var(--red);
            font-size: .5rem;
            top: 0px;
            left: 9px;
        }

.notification-active > .bell > .notification-circle {
    display: flex;
}
