
@* VID notis >>> class = notification-active PÅ Button*@
<button class="notification-bell">
	<i class="fa-solid fa-bell bell">
		<i class="fa-solid fa-circle notification-circle"></i>
	</i>
</button>