.notification-dropdown-container{
    position: relative;
}

.notification-dropdown {
    display: none;
    flex-direction: column;
    gap: .6rem;
    border-radius: 10px;
    background-color: var(--card-background);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 160%;
    max-width: 500px;
    z-index: 10;
    padding: 1rem;
}
    .notification-dropdown.show{
        display: flex;
    }

    .notification-bell {
        display: flex;
        border: none;
        align-items: center;
        margin: 0 8px;
        background-color: transparent;
    }

    .notification-bell > .bell {
        position: relative;
        color: var(--bell-color);
        font-size: 1.1rem;
    }

        .notification-bell > .bell > .notification-circle {
            display: none;
            position: absolute;
            color: var(--red);
            font-size: .5rem;
            top: 0px;
            left: 9px;
        }

.notification-active > .bell > .notification-circle {
    display: flex;
}

._number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    
    border-radius: 50%;
}
.notification-number{
    color: var(--headline);
}

.notification-number-active {
    background-color: var(--red-dark);
}
    .notification-number-active > .notification-number {
        color: white;
    }

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .notification-header > h4{
        margin: 0 1.5rem 0 0;
        padding: 0;
    }

.notifications{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.notification-item {
    display: grid;
    align-items: center;
    padding: .5rem 1rem .5rem .5rem;
    grid-template-areas: "img text close-btn";
    grid-template-columns: auto 1fr auto;
    gap: .8rem;
    border-radius: 1rem;
    background-color: var(--notification-item-bg);
}

    .notification-item > ._img-container {
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 56px;
        max-height: 56px;
    }
        ._img-container > img {
            border-radius: .8rem;
            max-width: 56px;
            max-height: 56px;
        }

    .notification-item > .btn-close {
        grid-area: close-btn;
    }

    .notification-item > .btn-close::before {
        color: var(--headline);
    }

        .notification-item > ._text-container {
            grid-area: text;
            width: 100%;
        }

        ._text-container > .message {
            color: var(--headline);
            display: flex;
            white-space: nowrap;
        }

        ._text-container > ._time {
            grid-area: time;
            display: flex;
            color: var(--text);
        }