.btn-group > button {
    border: none;
    background-color: transparent;
    border-radius: 12px;
    width: 26px;
    height: 26px;
}

.btn-group > .dropdown-toggle::after {
    content: none;
}

ul.dropdown-menu.dropdown-menu-end.show {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    border-radius: 12px;
    border: none;
    background-color: var(--background);
    min-width: 250px;
}

li{
    display: flex;
    align-items: center;
    width: 100%;
}

.li-divider{
    display: block;
}