<div class="btn-group">
    <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @await Html.PartialAsync("Partials/Navbar/_Cogwheel")
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <div class="user-information">
                <div class="user-avatar">
                    <img src="@Url.Content("~/Images/tinyAvatar.svg")" alt="My Image" />
                </div>
                <span class="user-name">Tommy Mattin-Lassei</span>
            </div>
        </li>
        <li>
            <div class="dark-mode-container">
                <div class="cog-span">
                    @await Html.PartialAsync("Partials/Navbar/_Cogwheel")
                    <span>Dark Mode</span>
                </div>
                
                @await Html.PartialAsync("Partials/Navbar/_DarkModeToggleButton")
            </div>
        </li>
        <li class="li-divider">
            <hr />
        </li>
        <li>
            <button class="dropdown-item log-out" type="button">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="log-out">Log Out</span>
            </button>
        </li>
    </ul>
</div>
