<div class="user-information">
    <div class="user-avatar">
        <img src="@Url.Content("~/Images/tinyAvatar.svg")" alt="Avatar Image" />
    </div>
    <span class="user-name">Tommy Mattin-Lassei</span>
</div>