@model IEnumerable<ClientsViewModel>

@{
	ViewData["Title"] = "Clients";

	var clientResult = await clientService.GetAllClientsAsync();
	var clients = clientResult.Data;
}

<partial name="Partials/Clients/_AddClientForm" model="new AddClientViewModel()"/>
<partial name="Partials/Clients/_EditClientForm" model="new EditClientViewModel()" />


<div class="top-bar">
	<h1>Clients</h1>
	<button class="btn-base btn-blue" type="button" data-modal="true" data-target="#add-client-modal">
		<i class="fa-solid fa-plus"></i>
		<span>Add Client</span>

	</button>
</div>


<section class="client-section">

	@foreach (var client in clients ?? [])
		@await Html.PartialAsync("Partials/Clients/_ClientCard", client)

</section>