.wrapper{
    display: flex;
}


main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.sign-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sign-card-background);
    padding: 4rem 4rem 1rem;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}


/*Tablet*/
@media (min-width: 768px) {


    .form-container {
        max-width: 430px;
    }

}

@media (max-width: 1339px) {
    .sign-card {
        min-width: 100vw;
        min-width: 100dvw;
        min-height: 100vh;
        min-height: 100dvh;
    }
}


@media (min-width: 1340px) {
    .sign-card {
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
    }

    .sign-bg {
        background-color: var(--auth-background);
        min-width: 100vw;
        min-width: 100dvw;
        min-height: 100vh;
        min-height: 100dvh;
    }
}