.wrapper {
/*    height: 100dvh;*/
    background-color: var(--background);
}

main{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow: hidden;
}

.sidebar{
    display: none;
}

.top-nav {
    display: none;
}







/*Computer*/
@media (min-width: 1340px) {

    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        min-height: 5rem; 
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        max-width: 17rem;
    }
}

