.menu {
    width: 100%;
    border-bottom: 1px solid var(--border);
}

.status-btn {
    background: transparent;
    border: none;
    appearance: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--status-btn-text);
}

.status-btn.selected {
    color: var(--blue-accent);
    border-bottom: 3px solid var(--blue-accent);

}

.project-section {
    display: grid;
    grid-template-columns: auto;
    gap: 1.8rem;
    padding: 1rem 0;
    justify-content: center;
    overflow-y: auto;
}

.btn-container{
    display: flex;
    gap: 1.3rem;
}


/*Tablets*/
@media (min-width: 768px) {
    .project-section {
        grid-template-columns: auto auto;
    }
    
}



/*Computers*/
@media (min-width: 1440px) {
    .project-section {
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }
}