.menu {
    width: 100%;
    border-bottom: 1px solid var(--border);
}

.status-btn {
    background: transparent;
    border: none;
    appearance: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--status-btn-text);
}

.status-btn.selected {
    color: var(--blue-accent);
    border-bottom: 3px solid var(--blue-accent);

}

section {
    padding: 1rem 0;
}

.btn-container{
    display: flex;
    gap: 1.3rem;
}