@model IEnumerable<ProjectsViewModel>

@{
	ViewData["Title"] = "Projects";

	var projectsResult = await projectService.GetAllProjectsAsync();
	var projects = projectsResult.Data;

}

<partial name="Partials/Projects/_AddProjectForm" model="new AddProjectViewModel()" />
<partial name="Partials/Projects/_EditProjectForm" model="new EditProjectViewModel()" />

<div class="top-bar">
	<h1>Projects</h1>
    <button class="btn-base btn-blue" type="button" data-modal="true" data-target="#add-project-modal">
		<i class="fa-solid fa-plus"></i>
		<span>Add Project</span>
	</button>
</div>

<div class="menu">
	<div class="btn-container">
		<button class="status-btn selected">ALL [8]</button>
		<button class="status-btn">STARTED [4]</button>
		<button class="status-btn">COMPLETED [4]</button>
	</div>
</div>

<section class="project-section">

	@foreach (var project in projects!)
		@await Html.PartialAsync("Partials/Projects/_ProjectCard", project)

</section>