.logo-container {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.logo-text {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    color: var(--text);
    margin: 0 .8rem;
}

/*Computer*/
@media (min-width: 1340px) {
    .logo-container {
        padding: 1rem;
        margin: 1rem;
    }

    .logo-text {
        margin: 0 .8rem;
    }
}
