<aside class="sidebar">
	@await Html.PartialAsync("Partials/Sidebar/_LogoPartial")
	<nav>
		@await Html.PartialAsync("Partials/Sidebar/_MembersNavigation")
		@await Html.PartialAsync("Partials/Sidebar/_ProjectsNavigation")
	</nav>
</aside>