<div id="cookieModal">
    <div class="cookie-card">
        <div class="cookie-content">
            <h3>Du har kontroll över dina uppgifter</h3>
            <p>Vi och våra affärspartners använder teknik, inklusive cookies, för att samla in information om dig för olika ändamål, inklusive: personalisering av innehåll och annonser, analysera vår trafik och ge tillgång till funktioner i sociala medier.</p>
            <p>Genom att klicka "Godkänn" ger du ditt samtycke till samtliga syften. Du kan också välja att uppge vilka syften du samtycker till genom att klicka i rutan bredvid syftet och sedan "Spara valda inställningar".</p>
            <p>Du kan när som helst ta tillbaka ditt samtycke. Genom att klicka på den lilla ikonen i det nedre vänstra hörnet på sidan öppnar du detta fönster igen.</p>
            <p><a class="cookie-link" href="https://cookieinformation.com/sv/resurser/blog-sv/digital-service-act-cookie-popup/" target="_blank">Läs mer här</a></p>
        </div>

        <form id="cookieConsentForm" class="cookie-settings">
            <h4>Cookies</h4>
            <div class="options">
                <div class="option">
                    <label class="switch-label" for="cookieEssential">Nödvändiga (alltid aktiva)</label>
                    <label class="switch">
                        <input type="checkbox" id="cookieEssential" name="essential" checked disabled>
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="option">
                    <label class="switch-label" for="cookieFunctional">Funktionella</label>
                    <label class="switch">
                        <input type="checkbox" id="cookieFunctional" name="functional">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="option">
                    <label class="switch-label" for="cookieAnalytics">Analys & Statistik</label>
                    <label class="switch">
                        <input type="checkbox" id="cookieAnalytics" name="analytics">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="option">
                    <label class="switch-label" for="cookieMarketing">Marknadsföring</label>
                    <label class="switch">
                        <input type="checkbox" id="cookieMarketing" name="marketing">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="buttons">
                <button type="button" class="btn-base cookie-btn cookie-all" onclick="acceptAll()">GODKÄNN ALLA</button>
                <button type="button" class="btn-base cookie-btn cookie-selected" onclick="acceptSelected()">SPARA VALDA INSTÄLLNINGAR</button>
            </div>
        </form>
    </div>
</div>

<div class="cookieConsentIcon" onclick="showCookieModal()">
    <i class="fa-solid fa-cookie-bite"></i>
</div>
