.edit-dots {
    display: flex;
    text-decoration: none;
    border: none;
    user-select: none;
    cursor: pointer;
    transition: all 200ms;
    background-color: transparent;
    align-self: center;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: .2rem;
}

i {
    color: var(--edit-dots);
    font-size: .2rem;
}
