@model SignUpFormModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form class="auth-form" method="post" asp-controller="Auth" asp-action="SignUp" novalidate>
    <h1>Create Account</h1>
    <button>PARTIAL Sign Up With Google</button>
    @await Html.PartialAsync("Partials/Components/_OrDivider")

    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <div class="field-group">
            <input asp-for="FullName" class="form-control text-input">
            <span asp-validation-for="FullName"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <div class="field-group">
            <input asp-for="Email" class="form-control text-input">
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <div class="field-group">
            <input asp-for="Password" class="form-control text-input">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="mb-5">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <div class="field-group">
            <input asp-for="ConfirmPassword" class="form-control text-input">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="form-check">
      <input asp-for="TermsAndConditions" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label asp-for="TermsAndConditions" class="form-check-label" for="flexCheckDefault">
        <span>I accept</span>
        <a asp-controller="Auth" asp-action="SignIn">
            <span class="a-text">Terms and Conditions</span>
        </a>
      </label>
    </div>
    <button type="submit" class="btn-base btn-blue">Create Account</button>
</form>
<div class="auth-redirect">
    <p class="auth-text">Already have an account?</p>
    <a asp-controller="Auth" asp-action="SignIn">
        <span class="a-text">Login</span>
    </a>
</div>
