@model SignUpViewModel
@{
    Layout = "~/Views/Shared/_Auth_Layout.cshtml";
    ViewData["Title"] = "Sign up";
}
<h1>Create Account</h1>

@await Html.PartialAsync("Partials/Components/_GoogleAuthButton", ViewData)
@await Html.PartialAsync("Partials/Components/_GitHubAuthButton", ViewData)

@await Html.PartialAsync("Partials/Components/_OrDivider")

<form class="auth-form" method="post" asp-controller="Auth" asp-action="SignUp" novalidate enctype="multipart/form-data">

    <div class="name-container">
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <div class="field-group">
                <input asp-for="FirstName" class="form-control text-input">
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <div class="field-group">
                <input asp-for="LastName" class="form-control text-input">
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <div class="field-group">
            <input asp-for="Email" class="form-control text-input">
            <span asp-validation-for="Email"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <div class="field-group">
            <input asp-for="Password" class="form-control text-input">
            <span asp-validation-for="Password"></span>
        </div>
    </div>

    <div class="mb-5">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <div class="field-group">
            <input asp-for="ConfirmPassword" class="form-control text-input">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>

    <div class="form-check">
      <input asp-for="TermsAndConditions" class="form-check-input" type="checkbox" id="flexCheckDefault">
        <label asp-for="TermsAndConditions" class="form-check-label" for="flexCheckDefault">
        <span>I accept</span>
            <a asp-controller="Auth" asp-action="TermsAndConditions">
            <span class="a-text">Terms and Conditions</span>
        </a>
      </label>
    </div>

    <button type="submit" class="btn-base btn-blue">Create Account</button>
</form>
<div class="auth-redirect">
    <span class="auth-text">Already have an account?</span>
    <a asp-controller="Auth" asp-action="SignIn">
        <span class="a-text">Login</span>
    </a>
</div>